arch:
  - amd64
  - arm64

os: linux
language: rust

addons:
  apt:
    update: true

rust:
  - stable
  - 1.46.0

before_install:
  - sudo apt-get -y install libfontconfig1-dev jq
  - rustup component add clippy

script:
  - cargo clippy

  - cargo test
  - |
    if [ "$TRAVIS_RUST_VERSION" = "stable" ]; then
      ./ci/ldd-grep
    else
      true
    fi

  # Rust 1.46.0 cargo doesn't accept carget test --features
  - cargo test --features dlopen --manifest-path fontconfig/Cargo.toml
  - |
    if [ "$TRAVIS_RUST_VERSION" = "stable" ]; then
      ./ci/ldd-grep -v -- --features dlopen
    else
      true
    fi

  - RUST_FONTCONFIG_DLOPEN=on cargo test
  - |
    if [ "$TRAVIS_RUST_VERSION" = "stable" ]; then
      RUST_FONTCONFIG_DLOPEN=on ./ci/ldd-grep -v
    else
      true
    fi

  - test "$(cargo run --example fc-list)" = "$(fc-list)"

  - |
    rust_impl="$(cargo run --example fc-list -- --verbose monospace)"
    test "$(rust_impl)" = "$(fc-list --verbose)"

  - |
    rust_impl="$(cargo run --example fc-pattern -- --verbose monospace)"
    test "$(rust_impl)" = "$(fc-pattern --verbose monospace)"

  - |
    rust_impl="$(cargo run --example fc-pattern -- -d -c monospace)"
    test "$(rust_impl)" = "$(fc-pattern -d -c monospace)"
