[package]
name = "fontconfig"
version = "0.2.1"
authors = [
    "Austin Bonander <austin.bonander@gmail.com>",
    "Manuel Reinhardt <manuel.jr16@gmail.com>",
    "YesLogic Pty. Ltd. <info@yeslogic.com>"
]
license = "MIT"
readme = "../README.md"

description = "Safe, higher-level wrapper around the Fontconfig library"
keywords = ["font", "search", "wrapper", "fontconfig"]
categories = ["text-processing"]

homepage = "https://github.com/yeslogic/fontconfig-rs"
documentation = "https://docs.rs/crate/fontconfig"
repository = "https://github.com/yeslogic/fontconfig-rs"

[badges]
travis-ci = { repository = "yeslogic/fontconfig-rs" }

[dependencies.yeslogic-fontconfig-sys]
version = "2.11.2"
path = "../fontconfig-sys"
