[package]
name = "yeslogic-fontconfig"
version = "0.1.0"
authors = [
    "Austin Bonander <austin.bonander@gmail.com>",
    "Manuel Reinhardt <manuel.jr16@gmail.com>",
    "YesLogic Pty. Ltd. <info@yeslogic.com>"
]
license = "MIT"
readme = "README.md"

description = "Safe wrapper around the fontconfig library"
keywords = ["font", "search", "wrapper", "fontconfig"]
categories = ["text-processing"]

homepage = "https://github.com/yeslogic/fontconfig-rs"
documentation = "https://docs.rs/crate/yeslogic-fontconfig"
repository = "https://github.com/yeslogic/fontconfig-rs"

[lib]
name = "fontconfig"

[dependencies.yeslogic-fontconfig-sys]
version = "2.11.1"
path = "../fontconfig-sys"
