[package]
name = "yeslogic-fontconfig-sys"
version = "2.11.1"
authors = [
    "Austin Bonander <austin.bonander@gmail.com>",
    "The Servo Project Developers",
    "YesLogic Pty. Ltd. <info@yeslogic.com>"
]
license = "MIT"

description = "Raw bindings to Fontconfig without a vendored C library"
keywords = ["font", "bindings", "fontconfig", "sys"]
categories = ["text-processing"]

homepage = "https://github.com/yeslogic/fontconfig-rs"
documentation = "https://docs.rs/crate/yeslogic-fontconfig-sys"
repository = "https://github.com/yeslogic/fontconfig-rs"

build = "build.rs"
links = "fontconfig"

[badges]
travis-ci = { repository = "yeslogic/fontconfig-rs" }

[lib]
name = "fontconfig_sys"

[dependencies]
const-cstr = "0.3"
libc = "0.2"

[build-dependencies]
pkg-config = "0.3"
